# python
*.toml
build/
__pycache__/

# claude files
CLAUDE.md
.claude/

# jupyter
.ipynb_checkpoints/

# hidden to keep academic integrity
cache/
checkpoints/
logs/
outputs/

# too big
data/
venv/

# hidden because these are all my notes/ideas and reference code
references/
cooking/
